<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device=width, initial-scale=1")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(property="og:type" content="website")
		meta(property="og:url" content="ask-extrasense.mastervision.su/thanks/")
		meta(property="og:title" content="Спасибо")
		meta(property="og:description" content="Вы записаны на онлайн-встречу с экстрасенсом")
		title Спасибо! Вы записаны на онлайн-встречу с экстрасенсом
		link(rel="icon" type="image/x-icon" href="../favicon.ico")
		link(rel="shortcut icon" type="image/x-icon" href="../favicon.png")
		link(rel="stylesheet" href="../css/styles.css")
		script 
			| !function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?158",t.onload=function(){VK.Retargeting.Init("VK-RTRG-11201-hHU9b"),VK.Retargeting.Hit()},document.head.appendChild(t)}();
		<!-- Global site tag (gtag.js) - Google Analytics -->
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-130434463-1")
		script
			| window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-130434463-1');
	body#thanks
		noscript
			img(src="https://vk.com/rtrg?p=VK-RTRG-11201-hHU9b" style="position:fixed; left:-999px;" alt="")
		<!-- Yandex.Metrika counter -->
		script(type="text/javascript")
			| (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter35450015 = new Ya.Metrika({ id:35450015, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");
		noscript
			div
				img(src="https://mc.yandex.ru/watch/35450015" style="position:absolute; left:-9999px;" alt="")
		<!-- /Yandex.Metrika counter -->
		section#main_thanks
			.container
				header#header
					a(href="https://mastervision.su", target="_blank")
						img#logo(src="../img/logo.png", alt="Логотип")
					.contacts
						a.tel(href="callto:8-929-568-87-50")
							i.fa.fa-phone(aria-hidden="true")
							span 8-929-568-87-50
						a.tel(href="callto:8-499-346-79-46")
							i.fa.fa-phone(aria-hidden="true")
							span 8-499-346-79-46
						a.skype(href="skype:add?admin-mastervision")
							i.fa.fa-skype(aria-hidden="true")
							span admin-mastervision
						a.email(href="mailto:info@mastervision.su")
							i.fa.fa-envelope(aria-hidden="true")
							span info@mastervision.su
				h1.main_title Спасибо!
				h2.main_subtitle.thanks_main_subtitle Вы записаны на онлайн-встречу с экстрасенсом, письмо с приглашением, придет к Вам на указанную почту
					span сегодня в 17:00 мск
		footer#footer
			.container
				.soc_buttons
					h5 Хотите узнать больше? Вступайте в наши группы!
					a(href="https://www.facebook.com/Mastervision1C/" target="_blank")
						i(class="fa fa-facebook-f")
					a(href="http://vk.com/mv_ezoterika" target="_blank")
						i(class="fa fa-vk")
					a(href="https://twitter.com/MastervisionEzo" target="_blank")
						i(class="fa fa-twitter")
					a(href="https://www.instagram.com/mastervision1/" target="_blank")
						i(class="fa fa-instagram")
					a(href="https://www.ok.ru/group/54472921710656" target="_blank")
						i(class="fa fa-odnoklassniki")
					a(href="https://www.youtube.com/channel/UCiJTdt19jRMRmYyCZac2Lvg/" target="_blank")
						i(class="fa fa-youtube")
					.clfix
				p ИП Кудряшов Александр Анатольевич, Тюмень, проезд Летний, 9а, ИНН 720410077658, ОГРН 315723200065100
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")